<div class="container mx-auto">
    <div class="card classCrad" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Technologie </h5>
          <div class="form-group m-b-5">
                <input type="text" class="form-control" id="technologiesBuzzwords" [(ngModel)] ="technologieName" placeholder="Enter technologie" >
          </div>
          <button class="btn btn-primary m-t-5" (click) = generateBuzzword() >Genarte a buzzwords</button>
        </div>
      </div>
</div>
<div *ngIf="showBuzzword" class="container mx-auto" >
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">buzzwords </h5>
                <p> {{technologieName}}</p>
        </div>
      </div>
</div> 