body {
    text-align: center;
    background-color: rgb(207, 218, 218);
}

button {
    margin-top: 10px;
}

.classCrad{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    margin-top:  100px;
}